@model ProductViewModel


<div class="row">
    <div class="products-tabs">
        <div id="tab1" class="tab-pane active">
            <div class="products-slick" data-nav="#slick-nav-1">
                <div class="product">
                    <div class="product-img" style="height: @($"{ViewData["ImageHeight"]}px")">
                        <img src="@Model.Image.Src" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                            <span class="new">NEW</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">@Model.Category</p>
                        <h3 class="product-name"><span class="badge badge-secondary">@Model.Name</span></h3>
                        <h4 class="product-price">$@($"{Model.Price:f2}") <del class="product-old-price">$@($"{Model.Price:f2}")</del></h4>
                        <div class="product-rating">
                            @for (int i = 1; i <= Model.AverageReview; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        </div>
                        <div class="product-btns">
                            <a asp-controller="" asp-action="" asp-route-id="" class="add-to-wishlist col-2"><i class="fa fa-heart"></i><span class="tooltipp">add to wishlist</span></a>
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" class="offset-1 col-2 quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></a>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>
            <div id="slick-nav-1" class="products-slick-nav"></div>
        </div>
    </div>
</div>
