@using Microsoft.AspNetCore.Identity;
@model ProductViewModel
@inject SignInManager<ApplicationUser> signInManager;

<div class="row">
    <div class="products-tabs">
        <div id="tab1" class="tab-pane active">
            <div class="products-slick" data-nav="#slick-nav-1">
                <div class="product">
                    <div class="product-img" style="height: @($"{ViewData["ImageHeight"]}px")">
                        <img src="@Model.Image.Src" alt="">
                        <div class="product-label">
                            @if (Model.IsHaveDiscount)
                            {
                                <span class="sale">@Model.DiscountPercentage%</span>
                            }
                            @if (DateTime.UtcNow.Subtract(Model.CreatedOn).Days <= 7)
                            {
                                <span class="new">NEW</span>
                            }
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">@Model.CategoryName</p>
                        <h3 class="product-name"><span class="badge badge-secondary">@Model.Name</span></h3>
                        @if (Model.IsHaveDiscount)
                        {
                            <h4 class="product-price">$@($"{Math.Floor(Model.Price - Model.Price * Model.DiscountPercentage / 100):f2}") <del class="product-old-price">$@($"{Model.Price:f2}")</del></h4>
                        }
                        else
                        {
                            <h4 class="product-price">$@($"{Model.Price:f2}")</h4>
                        }
                        <div class="product-rating">
                            @if (Model.AverageReview != -1)
                            {
                                @for (int i = 1; i <= Model.AverageReview; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                @for (int i = (int)Model.AverageReview + 1; i <= 5; i++)
                                {
                                    <i class="fa fa-star-o"></i>
                                }
                            }
                            else
                            {
                                <span class="badge badge-secondary">No reviews</span>
                            }
                        </div>
                        <div class="product-btns">
                            @if (signInManager.IsSignedIn(this.User))
                            {
                                if (Model.IsProductIsInCurrentUserWishlist)
                                {
                                    <a onclick="RemoveProductFromWishlist(@Model.Id)" role="button" id="remove-product-from-wishlist-@Model.Id" class="remove-from-wishlist col-2"><i style="color: #D10024" class="fa fa-heart"></i><span class="tooltipp">remove from wishlist</span></a>
                                    <a onclick="AddProductToWishlist(@Model.Id)" role="button" id="add-product-to-wishlist-@Model.Id" class="add-to-wishlist col-2 d-none"><i style="color: #D10024" class="fa fa-heart-o"></i><span class="tooltipp">remove from wishlist</span></a>
                                }
                                else
                                {
                                    <a onclick="AddProductToWishlist(@Model.Id)" role="button" id="add-product-to-wishlist-@Model.Id" class="add-to-wishlist col-2"><i style="color: #D10024" class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></a>
                                    <a onclick="RemoveProductFromWishlist(@Model.Id)" role="button" id="remove-product-from-wishlist-@Model.Id" class="remove-from-wishlist col-2 d-none"><i style="color: #D10024" class="fa fa-heart"></i><span class="tooltipp">remove from wishlist</span></a>
                                }
                            }
                            else
                            {
                                <a onclick="AddProductToWishlistForUnsignedUsers()" role="button" id="add-product-to-wishlist" class="add-to-wishlist col-2"><i style="color: #D10024" class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></a>
                            }
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" class="offset-1 col-2 quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></a>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        @if (this.signInManager.IsSignedIn(this.User))
                        {
                            <button onclick="AddProductToUserShoppingCard(@Model.Id)" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        }
                        else
                        {
                            <a role="button" asp-area="Identity" asp-page="/Account/Login" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</a>
                        }
                    </div>
                </div>
            </div>
            <div id="slick-nav-1" class="products-slick-nav"></div>
        </div>
    </div>
</div>
