@using Ecommerce.Data.Models.Enums;
@model AddProductReviewModel

<form method="post">
    <div class="form-group offset-4 col-4">
        <label asp-for="Comment" style="margin-bottom: 3px" class="d-none"></label>
        <textarea asp-for="Comment" class="input border border-secondary" placeholder="Your Comment (optional)"></textarea>
    </div>

    <div class="form-group offset-4 col-4 mt-3">
        <label asp-for="ReviewScale" class="d-none"></label>
        <select asp-for="ReviewScale" class="form-control border border-secondary">
            <option selected disabled>Add Review ⭐</option>
            <option value="1">@ReviewScale.VeryUnsatisfied (1 ⭐)</option>
            <option value="2">@ReviewScale.Unsatisfied (2 ⭐)</option>
            <option value="3">@ReviewScale.Neutral (3 ⭐)</option>
            <option value="4">@ReviewScale.Satisfied (4 ⭐)</option>
            <option value="5">@ReviewScale.VerySatisfied (5 ⭐)</option>
        </select>
    </div>

    <input id="add-review-btn" role="button" style="background-color: #D10024; color: white" class="btn offset-7 col-1 rounded-pill mt-3" type="submit" value="Add" />
</form>

@section Scripts {
    <script>
        //function AddStarsForProductReview(starsCount) {
        //    @Model.ReviewScale = starsCount;
        //    console.log(starsCount);
        //    console.log(@Model.ReviewScale);
        //};

        //const addReviewButtonElement = document.querySelector('#add-review-btn');

        //addReviewButtonElement.addEventListener('click', (e) => {
        //    console.log('clicked');

        //});
    </script>
}