@model ProductsServiceModel

@{
    int totalPages = (int)Math.Ceiling((double)(Model.TotalProducts / (double)ProductsServiceModel.ProductsPerPage));
    int startPage = Model.CurrentPage - 3 <= 0 ? 1 : Model.CurrentPage - 3;
    int endPage = Model.CurrentPage + 3 >= totalPages ? totalPages : Model.CurrentPage + 3;

    int firstShowingProductNumber = (Model.CurrentPage - 1) * ProductsServiceModel.ProductsPerPage + 1;
    int lastShowingProductNumber = (Model.CurrentPage - 1) * ProductsServiceModel.ProductsPerPage + Model.Products.Count();

}

<div class="store-filter clearfix">
    <span class="store-qty">Showing @firstShowingProductNumber-@lastShowingProductNumber products</span>
    <ul class="store-pagination">
        @if (Model.CurrentPage != 1)
        {
            <li>
                <a asp-controller="Products"
               asp-action="All"
               asp-route-SearchCategory="@Model.SearchCategory"
               asp-route-ProductsSorting="@Model.ProductsSorting"
               asp-route-CurrentPage="@((Model.CurrentPage - 1) < 1 ? Model.CurrentPage = 1 : Model.CurrentPage - 1)">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        }

        @for (int i = startPage; i <= Model.CurrentPage - 1; i++)
        {
            <a asp-controller="Products"
           asp-action="All"
           asp-route-SearchCategory="@Model.SearchCategory"
           asp-route-ProductsSorting="@Model.ProductsSorting"
           asp-route-CurrentPage="@i">
            <li>@i</li>
            </a>
        }

        <li class="active">@Model.CurrentPage</li>

        @for (int i = Model.CurrentPage + 1; i <= endPage; i++)
        {
            <a asp-controller="Products"
           asp-action="All"
           asp-route-SearchCategory="@Model.SearchCategory"
           asp-route-ProductsSorting="@Model.ProductsSorting"
           asp-route-CurrentPage="@i">
            <li>@i</li>
            </a>
        }
        
        @if (Model.CurrentPage != totalPages)
        {
            <li>
            <a asp-controller="Products"
               asp-action="All"
               asp-route-SearchCategory="@Model.SearchCategory"
               asp-route-ProductsSorting="@Model.ProductsSorting"
               asp-route-CurrentPage="@((Model.CurrentPage + 1) > totalPages ? Model.CurrentPage = totalPages : Model.CurrentPage + 1)">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        }
    </ul>
</div>