@model ProductsServiceModel

@{
    ViewData["Title"] = "Products | Commerce Park";
    ViewData["ImageHeight"] = 400;

    SearchingProductsCriteria searchingProductsCriteriaModel = new SearchingProductsCriteria()
    {
        SearchCategory = Model.SearchCategory,
        CheapestProduct = Model.CheapestProduct,
        ProductsSorting = Model.ProductsSorting,
        SearchNameCriteria = Model.SearchNameCriteria,
    };
}

<div class="container-fluid">
    <div id="breadcrumb" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a asp-controller="Products" asp-action="All">Products</a></li>
                        <li><a asp-controller="Products" asp-action="All" asp-route-SearchCategory="@Model.SearchCategory">@Model.SearchCategory (@(Model.TotalProducts == 1 ? "1 result" : $"{Model.TotalProducts} results"))</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container-fluid">
    <div class="row" style="margin-left: 35px">
        <div class="col-2 single-left">
            @*<div class="aside">
            <h3 class="aside-title">Categories</h3>
            <div class="checkbox-filter">
            @foreach (var category in Model.Categories)
            {
            <div class="input-checkbox">
            <input type="checkbox" id="category-1">
            <label for="category-1">
            <a asp-controller="Products" asp-action="All" asp-route-SearchCategory="@category.Name" class="btn btn-neutral">
            <span></span>@category.Name <small> (@category.ProductsCount)</small>
            </a>
            </label>
            </div>
            }
            </div>
            </div>*@
        </div>


        <div class="col-md-8 single-right" style="margin-right: 35px">
            @if (Model.Products.Any())
            {
                <partial name="_SearchAndSortProductsPartail" model="searchingProductsCriteriaModel" />

                <div class="row mt-4">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-4 mt-4">
                            <partial name="_ProductCardPartial" model="product" />
                        </div>
                    }
                </div>

                <partial name="_PaginationPartial" model="Model" />
            }
            else
            {
                <partial name="_NoResultsPartial" model="Model.SearchCategory" />
            }
        </div>
    </div>

</div>