@model ProductsServiceModel

@{
    ViewData["Title"] = "Products | Commerce Park";

    int totalPages = (int)Math.Ceiling((double)(Model.TotalProducts / ProductsServiceModel.ProductsPerPage));

    int startPage = Model.CurrentPage - 3 <= 0 ? 1 : Model.CurrentPage - 3;
}

<div class="container-fluid">
    <div id="breadcrumb" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">@Model.SearchCategory (@(Model.TotalProducts == 1 ? "1 result" : $"{Model.TotalProducts} results"))</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form method="get" class="mb-2">
        <div class="row">
            <div class="offset-1 form-group col-4">
                <label asp-for="ProductsSorting" class="form-label d-none"></label>
                <select asp-for="ProductsSorting" class="form-control border-secondary">
                    <option selected disabled>Order by...</option>
                    <option value="0">The Lowest Price</option>
                    <option value="1">Highest Price</option>
                    <option value="2">Biggest Discount</option>
                    <option value="3">Latest</option>
                    <option value="4">Ascending</option>
                    <option value="5">Descending</option>
                    <option value="6">Most Commented</option>
                </select>
            </div>

            <div class="form-group col-4">
                <label asp-for="SearchNameCriteria" class="form-label d-none"></label>
                <input asp-for="SearchNameCriteria" type="search" class="form-control border-secondary" placeholder="Search product by name" />
            </div>

            <label asp-for="SearchCategory" class="form-label d-none"></label>
            <input asp-for="SearchCategory" class="form-control d-none" value="@Model.SearchCategory">

            <input type="submit" class="btn btn-secondary rounded-pull col-2" value="Search">
        </div>
    </form>
</div>

<br />

<div class="container-fluid">
    <div class="row" style="margin-left: 35px">
        <div class="col-2 single-left">
            <div class="aside">
                <h3 class="aside-title">Categories</h3>
                <div class="checkbox-filter">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="input-checkbox">
                            <input type="checkbox" id="category-1">
                            <label for="category-1">
                                <a asp-controller="Products" asp-action="All" asp-route-SearchCategory="@category.Name" class="btn btn-neutral">
                                    <span></span>@category.Name <small> (@category.ProductsCount)</small>
                                </a>
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 single-right" style="margin-right: 35px">
            @if (Model.Products.Any())
            {
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-4">
                            <partial name="_ProductCardPartial" model="product" />
                        </div>
                    }
                </div>

                <div class="store-filter clearfix">
                    <span class="store-qty">Showing @(Model.CurrentPage * ProductsServiceModel.ProductsPerPage)-@(Model.CurrentPage * ProductsServiceModel.ProductsPerPage + ProductsServiceModel.ProductsPerPage) products</span>
                    <ul class="store-pagination">
                        <li>
                            <a asp-controller="Products"
                           asp-action="All"
                           asp-route-SearchCategory="@Model.SearchCategory"
                           asp-route-ProductsSorting="@Model.ProductsSorting"
                           asp-route-CurrentPage="@((Model.CurrentPage - 1) < 1 ? Model.CurrentPage = 1 : Model.CurrentPage - 1)">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        @for (int i = startPage; i <= Model.CurrentPage - 1; i++)
                        {
                            <a asp-controller="Products"
                       asp-action="All"
                       asp-route-SearchCategory="@Model.SearchCategory"
                       asp-route-ProductsSorting="@Model.ProductsSorting"
                       asp-route-CurrentPage="@i">
                            <li>@i</li>
                            </a>
                        }
                        <li class="active">@Model.CurrentPage</li>
                        @for (int i = Model.CurrentPage + 1; i <= Model.CurrentPage + 3; i++)
                        {
                            if (i == totalPages + 1)
                            {
                                break;
                            }
                            <a asp-controller="Products"
                       asp-action="All"
                       asp-route-SearchCategory="@Model.SearchCategory"
                       asp-route-ProductsSorting="@Model.ProductsSorting"
                       asp-route-CurrentPage="@i">
                            <li>@i</li>
                            </a>
                        }
                        <li>
                            <a asp-controller="Products"
                           asp-action="All"
                           asp-route-SearchCategory="@Model.SearchCategory"
                           asp-route-ProductsSorting="@Model.ProductsSorting"
                           asp-route-CurrentPage="@((Model.CurrentPage + 1) > totalPages ? Model.CurrentPage = totalPages : Model.CurrentPage + 1)">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="jumbotron">
                    <h1 class="text-center display-4">Currently there are no results for "@Model.SearchCategory" category!</h1>
                    <p class="text-center lead">You can try later <i style="color: black" class="fa fa-smile"></i>.</p>
                    <hr class="my-4">
                </div>
            }
        </div>
    </div>

</div>