@using Ecommerce.Data.Models.Enums
@using Microsoft.AspNetCore.Identity;

@inject UserManager<ApplicationUser> userManagaer;
@inject SignInManager<ApplicationUser> signInManager;
@model ProductDetailsModel

@{
    ViewData["Title"] = $"{Model.Name} | Details";
    ApplicationUser user = await userManagaer.GetUserAsync(this.User);
}


<div class="section">
    <div class="container">
        <div class="row">
            <partial name="_ProductImagesPartial" model="Model.Images" />

            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.Name</h2>
                    <div>
                        @if (Model.ProductReviewServiceModel.AverageReview != -1)
                        {
                            <div class="product-rating">
                                @for (int i = 1; i <= Model.ProductReviewServiceModel.AverageReview; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                @for (int i = 1; i <= 5 - Model.ProductReviewServiceModel.AverageReview; i++)
                                {
                                    <i class="fa fa-star-o"></i>
                                }
                            </div>
                            <span class="badge badge-secondary">
                                @Model.ProductReviewServiceModel.TotalReviews Review(s)
                            </span>
                        }
                        else
                        {
                            <span class="badge badge-secondary">
                                There are no reviews.
                            </span>
                        }

                    </div>
                    <div>
                        <h3 class="product-price">@Model.Price</h3>
                        <span class="product-available">@Model.Status</span>
                    </div>

                    <div class="product-options">
                        <label>
                            Size
                            <select class="input-select">
                                <option value="0">X</option>
                            </select>
                        </label>
                        <label>
                            Color
                            <select class="input-select">
                                <option value="0">Red</option>
                            </select>
                        </label>
                    </div>

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Qty
                            <div class="input-number">
                                <input type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>

                    <a id="add-product-to-wishlist" role="button" class="badge badge-secondary"><i class="fa fa-heart"></i> Add to wishlist</a>
                    <a id="removeProductToWishlist" role="button" class="badge badge-secondary d-none"><i class="fa fa-heart"></i> Add to wishlist</a>
                    <span class="badge badge-secondary">Category: <a role="button">Model.Category</a></span>

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fab fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="col-md-12">
        <div id="product-tab">
            <ul class="tab-nav">
                <li class="active"><a role="button" id="description-partial">Description</a></li>
                @*<li><a role="button" id="details-partial">Details</a></li>*@
                <li><a role="button" id="reviews-partial">Reviews (@Model.ProductReviewServiceModel.TotalReviews)</a></li>
            </ul>
        </div>

        <div id="description-partial-content">
            <div class="row">
                <div class="col-5">
                    <p>@Html.Raw(Model.SanitizedDescription)</p>
                </div>
            </div>
        </div>

        <div id="reviews-partial-content" class="d-none">
            @if (Model.ProductReviewServiceModel.TotalReviews != 0)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div id="rating">
                                <div class="rating-avg">
                                    <span>@Model.ProductReviewServiceModel.AverageReview</span>
                                    <div class="rating-stars">
                                        @for (int i = 1; i <= Model.ProductReviewServiceModel.AverageReview; i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                    </div>
                                </div>
                                <ul class="rating">
                                    <li>
                                        <div class="rating-stars">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        </div>
                                        <div class="rating-progress">
                                            <div style="width: @((Model.ProductReviewServiceModel.CountOfFiveStarsRating / @Model.ProductReviewServiceModel.TotalReviews) * 100)%;"></div>
                                        </div>
                                        <span class="sum">@Model.ProductReviewServiceModel.CountOfFiveStarsRating</span>
                                    </li>
                                    <li>
                                        <div class="rating-stars">
                                            @for (int i = 1; i <= 4; i++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        </div>
                                        <div class="rating-progress">
                                            <div style="width: @((Model.ProductReviewServiceModel.CountOfFourStarsRating / @Model.ProductReviewServiceModel.TotalReviews) * 100)%;"></div>
                                        </div>
                                        <span class="sum">@Model.ProductReviewServiceModel.CountOfFourStarsRating</span>
                                    </li>
                                    <li>
                                        <div class="rating-stars">
                                            @for (int i = 1; i <= 3; i++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        </div>
                                        <div class="rating-progress">
                                            <div style="width: @((Model.ProductReviewServiceModel.CountOfThreeStarsRating / @Model.ProductReviewServiceModel.TotalReviews) * 100)%;"></div>
                                        </div>
                                        <span class="sum">@Model.ProductReviewServiceModel.CountOfThreeStarsRating</span>
                                    </li>
                                    <li>
                                        <div class="rating-stars">
                                            @for (int i = 1; i <= 2; i++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        </div>
                                        <div class="rating-progress">
                                            <div style="width: @((Model.ProductReviewServiceModel.CountOfTwoStarsRating / @Model.ProductReviewServiceModel.TotalReviews) * 100)%;"></div>
                                        </div>
                                        <span class="sum">@Model.ProductReviewServiceModel.CountOfTwoStarsRating</span>
                                    </li>
                                    <li>
                                        <div class="rating-stars">
                                            @for (int i = 1; i <= 1; i++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        </div>
                                        <div class="rating-progress">
                                            <div style="width: @((Model.ProductReviewServiceModel.CountOfOneStarRating / @Model.ProductReviewServiceModel.TotalReviews) * 100)%;"></div>
                                        </div>
                                        <span class="sum">@Model.ProductReviewServiceModel.CountOfOneStarRating</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div id="reviews">
                                <ul class="reviews">
                                    @foreach (var review in Model.ProductReviewServiceModel.Reviews)
                                    {
                                        var pastTime = DateTime.UtcNow.Subtract(review.CreatedOn);

                                        var pastTimeToVisualizate = pastTime.Days == 1
                                        ? $"{pastTime.Days} day ago" : pastTime.Days != 0 ? $"{pastTime.Days} days ago"
                                        : pastTime.Hours == 1 ? $"{pastTime.Hours} hour ago" : pastTime.Hours != 0 ? $"{pastTime.Hours} hours ago"
                                        : pastTime.Minutes == 1 ? $"{pastTime.Minutes} minute ago" : pastTime.Minutes != 0 ? $"{pastTime.Minutes} minutes ago"
                                        : $"{pastTime.Seconds} seconds ago";
                                        <li>
                                            <div class="review-heading">
                                                <h5 class="name">@review.CreateorCommentUserName</h5>
                                                <p class="date">@pastTimeToVisualizate</p>
                                                <div class="review-rating">
                                                    @for (int i = 1; i <= (int)review.ReviewScale; i++)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                </div>
                                            </div>
                                            <div class="review-body">
                                                <p>@review.Comment</p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-6 single-left">
                            <ul class="offset-0 col-3 reviews-pagination">
                                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active">2</li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                        @if (signInManager.IsSignedIn(this.User))
                        {
                            <div class="col-6 single-right">
                                <a id="create-review-button" role="button" style="background-color: #D10024; color: white" class="offset-9 col-3 btn rounded-pill">Add Review</a>
                            </div>
                        }
                        else
                        {
                            <div class="col-6 single-right">
                                <a role="button" style="background-color: #D10024; color: white" class="offset-8 col-4 btn rounded-pill" asp-area="Identity" asp-page="/Account/Login">Sign in and add review</a>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="jumbotron jumbotron-fluid">
                    <div class="container text-center">
                        <h6 class="display-4">There are no reviews for @Model.Name</h6>
                        @if (signInManager.IsSignedIn(this.User))
                        {
                            <a id="create-first-review-button" role="button" style="background-color: #D10024; color: white" class="btn col-3 rounded-pill mt-2">Be first by adding your review.</a>
                        }
                        else
                        {
                            <a asp-area="Identity" asp-page="/Account/Login" role="button" style="background-color: #D10024; color: white" class="btn col-4 rounded-pill mt-2">Sign in and Be first by adding your review.</a>
                        }
                    </div>
                </div>
            }
            <div class="container mt-3 d-none" id="create-review-partial">
                @if ((bool)ViewData["IsHaveProductReviewError"])
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("Error while adding your review!");
                        };
                    </script>
                }
                <form method="post" asp-controller="Products" asp-action="AddReviewForProduct">

                    <input asp-for="ProductReviewServiceModel.AddProductReviewModel.UserId" class="d-none" value="@user.Id" />
                    <input asp-for="ProductReviewServiceModel.AddProductReviewModel.ProductId" class="d-none" value="@Model.Id" />

                    <div class="form-group offset-4 col-4">
                        <label asp-for="ProductReviewServiceModel.AddProductReviewModel.Comment" style="margin-bottom: 3px" class="d-none"></label>
                        <textarea asp-for="ProductReviewServiceModel.AddProductReviewModel.Comment" class="input border border-secondary" placeholder="Your Comment (optional)"></textarea>
                    </div>

                    <div class="form-group offset-4 col-4 mt-3">
                        <label asp-for="ProductReviewServiceModel.AddProductReviewModel.ReviewScale" class="d-none"></label>
                        <select asp-for="ProductReviewServiceModel.AddProductReviewModel.ReviewScale" class="form-control border border-secondary">
                            <option selected disabled>Add Review ⭐</option>
                            <option value="1">@ReviewScale.VeryUnsatisfied (1 ⭐)</option>
                            <option value="2">@ReviewScale.Unsatisfied (2 ⭐)</option>
                            <option value="3">@ReviewScale.Neutral (3 ⭐)</option>
                            <option value="4">@ReviewScale.Satisfied (4 ⭐)</option>
                            <option value="5">@ReviewScale.VerySatisfied (5 ⭐)</option>
                        </select>
                        <span asp-validation-for="ProductReviewServiceModel.AddProductReviewModel.ReviewScale" class="small text-danger"></span>
                    </div>

                    <input id="add-review-btn" role="button" style="background-color: #D10024; color: white" class="btn offset-7 col-1 rounded-pill mt-3" type="submit" value="Add" />
                </form>
            </div>
        </div>

        @* <div id="details-partial-content" class="tab-pane fade in">
        <div class="row">
        <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        </div>
        </div>*@
    </div>
</div>

<div class="section mt-4">
    <hr class="offset-2 col-8" />
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Related Products</h3>
                </div>
            </div>

            @*<partial name="_ProductCardPartial" model="@Model.RelatedProducts"/>*@

            <div class="clearfix visible-sm visible-xs"></div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        new Glider(document.querySelector('.glider'), {
            slidesToShow: 1,
            slidesToScroll: 1,
            draggable: true,
            dots: '.dots',
            arrows: {
                prev: '.glider-prev',
                next: '.glider-next'
            }
        });
    </script>

    <script>
        const descriptionPartialAElement = document.getElementById('description-partial');
        const reviewsPartialAElement = document.getElementById('reviews-partial');

        const descriptionPartialContentDivElement = document.getElementById('description-partial-content');
        const reviewPartialContentDivElement = document.getElementById('reviews-partial-content');

        descriptionPartialAElement.addEventListener('click', (e) => {
            descriptionPartialAElement.parentElement.classList.add('active');

            reviewsPartialAElement.parentElement.classList.remove('active');

            descriptionPartialAElement.classList.remove('d-none');

            reviewPartialContentDivElement.classList.add('d-none');
        });

        reviewsPartialAElement.addEventListener('click', (e) => {
            reviewsPartialAElement.classList.add('active');

            descriptionPartialAElement.parentElement.classList.remove('active');

            reviewPartialContentDivElement.classList.remove('d-none');

            descriptionPartialContentDivElement.classList.add('d-none');
        });
    </script>

    <script>
        const createReviewButtonElement = document.getElementById('create-review-button');
        const createReviewPartialDivElement = document.getElementById('create-review-partial');

        createReviewButtonElement.addEventListener('click', (e) => {
            createReviewButtonElement.classList.add('d-none');
            createReviewPartialDivElement.classList.remove('d-none');

            $([document.documentElement, document.body]).animate({
                scrollTop: $('#create-review-partial').offset().top
            }, 70);
        });
    </script>

    <script>
        const createFirstReviewButtonElement = document.getElementById('create-first-review-button');
        const createReviewPartialDivElement = document.getElementById('create-review-partial');

        createFirstReviewButtonElement.addEventListener('click', (e) => {
            createFirstReviewButtonElement.classList.add('d-none');
            createReviewPartialDivElement.classList.remove('d-none');

            $([document.documentElement, document.body]).animate({
                scrollTop: $('#create-review-partial').offset().top
            }, 70);
        });
    </script>

    <script>
        const addProductToWishlistButtonElement = document.getElementById('add-product-to-wishlist');

        addProductToWishlistButtonElement.addEventListener('click', (e) => {
            console.log('clicked');
            $.get('/api/ProductWishlistsApi?userId=' + @user.Id + '&productId=' + @Model.Id, (data) => {
                alert(data);
        });
    </script>
}