@using Ecommerce.Data.Models.Enums
@model ProductsStatisticsServiceModel

@{
    ViewData["Title"] = "Products Dashboard | Commerce Park";
    int i = 0;
}

<div class="jumbotron mt-5 mb-5">
    <h1 class="display-4 text-center">Products Dashboard</h1>
    <div class="row mt-4">
        <span class="offset-2 col-3 badge badge-primary">Total Products: @Model.ProductsCount</span>
        <span class="offset-2 col-3 badge badge-primary">Total Categories: @Model.CategoriesCount</span>
    </div>
    <hr class="my-4">
</div>

<div class="">
    @*<div class="row"> <hr class="mt-4 col-5" /> <h1 class="col-2">&nbsp;Products</h1> <hr class="mt-4 col-5" /> </div>*@
    <h2 class="text-center mb-4 mt-5">Products</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Qantity</th>
                <th scope="col">Status</th>
                <th scope="col">Percentage of Discount</th>
                <th scope="col">Is On Discount</th>
                <th scope="col">Is Deleted</th>
                <th scope="col">Delete / Restore</th>
                <th scope="col">Update</th>
                <th scope="col">Set Discount</th>
                <th scope="col">Set Quantity</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var product in Model.Products)
                {
                    i += 1;
                    <tr class="text-center">
                        <th scope="row">@i</th>
                        @if (product.IsDeleted)
                        {
                            <td>@product.Name</td>
                        }
                        else
                        {
                            <td><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></td>
                        }
                        <td>@product.Price</td>$
                        <td id="@product.Id-quantity-field">@product.Quantity</td>
                        <td id="@product.Id-status-field">@product.Status</td>
                        <td id="@product.Id-discount-field">@((decimal)product.DiscountPercentage) %</td>
                        <td id="@product.Id-isHaveDiscount-field">@product.IsHaveDiscount</td>
                        <td>@product.IsDeleted</td>
                        @if (product.IsDeleted == true)
                        {
                            <td><a onclick="RestoreProduct(@product.Id)" class="btn btn-primary rounded-pill">Restore</a></td>
                        }
                        else
                        {
                            <td><a onclick="DeleteProduct(@product.Id)" class="btn btn-danger rounded-pill">Delete</a></td>
                        }
                        <td><a role="button" asp-area="AdminPanel" asp-controller="Products" asp-action="Update" asp-route-id="@product.Id" class="btn btn-light rounded-pill">Update</a></td>
                        <td><a role="button" onclick="SetDiscount(@product.Id)" class="btn btn-light rounded-pill">Set New Discount</a></td>
                        <td><a role="button" onclick="SetQuantity(@product.Id)" class="btn btn-light rounded-pill">Set New Quantity</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="mt-5"></div>

    <h2 class="text-center mb-4 mt-5">Categories</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Count of Product</th>
                <th scope="col">Is Deleted</th>
                <th scope="col">Delete / Restore</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var category in Model.Categories)
                {
                    i += 1;
                    <tr class="text-center">
                        <th scope="row">@i</th>
                        @if (category.IsDeleted)
                        {
                            <td>@category.Name</td>
                        }
                        else
                        {
                            <td><a asp-area="" asp-controller="Products" asp-action="All" asp-route-SearchCategory="@category.Name.Trim()">@category.Name</a></td>
                        }
                        <td>@category.ProductsCount</td>
                        <td>@category.IsDeleted</td>
                        @if (category.IsDeleted == true)
                        {
                            <td><a onclick="RestoreCategory(@category.Id)" class="btn btn-primary rounded-pill">Restore</a></td>
                        }
                        else
                        {
                            <td><a onclick="DeleteCategory(@category.Id)" class="btn btn-danger rounded-pill">Delete</a></td>
                        }
                        <td><a role="button" asp-area="AdminPanel" asp-controller="Cateories" asp-action="Update" asp-route-id="@category.Id" class="btn btn-light rounded-pill">Update</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <h2 class="text-center mb-4 mt-5">Most Expensive Products</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @{
                i = 0;
                foreach (var product in Model.ProductsOrderedByPriceDescending)
                {
                    i += 1;
                    <tr class="text-center">
                        <th scope="row">@i</th>
                        <td><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></td>
                        <td>@product.Price</td>$
                    </tr>
                }
            }
        </tbody>
    </table>

    <h2 class="text-center mb-4 mt-5">Cheapest Products</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @{
                i = 0;
                foreach (var product in Model.ProductsOrderedByPriceAscending)
                {
                    i += 1;
                    <tr class="text-center">
                        <th scope="row">@i</th>
                        <td><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></td>
                        <td>@product.Price</td>$
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function SetDiscount(productId) {
            let discount = prompt("Enter new discount for product", "");
            if (discount != null) {
                discount = discount.replace('%', '');

                $.get('/adminpanel/products/setDiscount?id=' + productId + '&discountAsString=' + discount, (data) => {
                    if (Number(data) == 0) {
                        $('#' + productId + '-isHaveDiscount-field').text('False');
                    } else {
                        $('#' + productId + '-isHaveDiscount-field').text('True');
                    }

                    $('#' + productId + '-discount-field').text(Number.parseFloat(data).toFixed(2) + ' %');
                });
            }
        }

        function SetQuantity(productId) {
            let quantity = prompt("Enter new quantity for product", "");
            if (quantity != null) {
                quantity = quantity.replace(' ', '');

                $.get('/adminpanel/products/setQuantity?id=' + productId + '&quantityAsString=' + quantity, (data) => {
                    if (Number(data) == 0) {
                        $('#' + productId + '-status-field').text('Unavailable');
                    } else {
                        $('#' + productId + '-status-field').text('Available');
                    }

                    $('#' + productId + '-quantity-field').text(Number.parseFloat(data).toFixed(0));
                });
            }
        }

        function DeleteProduct(productId) {
            let result = window.confirm("Are you sure?")

            if (result) {
                $.get('/adminpanel/products/apidelete?id=' + productId, (data) => {
                    window.location.reload();
                });
            }
        }

        function RestoreProduct(productId) {
            let result = window.confirm("Are you sure?")

            if (result) {
                $.get('/adminpanel/products/apirestore?id=' + productId, (data) => {
                    window.location.reload();
                });
            }
        }

        function DeleteCategory(categoryId) {
            let result = window.confirm("Are you sure?")

            if (result) {
                $.get('/adminpanel/categories/apidelete?id=' + categoryId, (data) => {
                    window.location.reload();
                });
            }
        }

        function RestoreCategory(categoryId) {
            let result = window.confirm("Are you sure?")

            if (result) {
                $.get('/adminpanel/categories/apirestore?id=' + categoryId, (data) => {
                    window.location.reload();
                });
            }
        }
    </script>
}